@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Скрыть стрелки в input[type="number"] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Для остальных браузеров */
}

/* Центрирование текста в поле */
input[type="number"] {
  text-align: center; /* Центрирует значение в поле */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 10px;
  gap: 10px;
}

.breadcrumbs li {
  list-style: none;
}
